.gifs-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 81.25rem;
  gap: 2rem;
}

.header-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 2.5rem;
}

.header-arrow {
  width: 2.5rem;
}

.header-title {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
}

.gif {
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 1rem;
  object-fit: cover;
}

@media (max-width: 24.375rem) {
  .gifs-container {
    margin-right: 7.5rem;
  }
  .gif {
    width: 25rem;
    height: 25rem;
  }
}
