.gifs-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1300px;
  gap: 33px;
}

.gif {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  object-fit: cover;
}
