.navbar-container {
  display: flex;
  align-items: center;
  gap: var(--mini);
}

.navbar-title {
  text-transform: uppercase;
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-extrabold);
  color: var(--color-white);
}
