.searchbar-container {
  position: relative;
}

.searchbar {
  width: 70.75rem;
  height: 4.375rem;
  border-radius: 1rem;
  border: none;
  font-size: var(--font-size-h4);
  padding-left: 1.25rem;
  margin-bottom: 1.25rem;
}

.search-button {
  width: 4.375rem;
  height: 4.375rem;
  position: absolute;
  right: 0.25rem;
  border-radius: 0 1rem 1rem 0;
  border: none;
  background: linear-gradient(
    135deg,
    rgba(255, 243, 92, 0.77) 0%,
    rgba(0, 204, 255, 0.46) 51.04%,
    rgba(0, 255, 153, 0.37) 100%
  );
  cursor: pointer;
}
